https://ui.shadcn.com/docs/installation/vite
use the following command for autoprefixer
npm install -D tailwindcss@3.4.17 postcss autoprefixer

npx shadcn@latest add card
npx shadcn@latest add button
npx shadcn@latest add input
npx shadcn@latest add textarea
npx shadcn@latest add select
npx shadcn@latest add label
npx shadcn@latest add checkbox

npm i microsoft-cognitiveservices-speech-sdk
npm i radix-ui
npm i class-variance-authority
npm i clsx
npm i tailwindcss-animate
npm i lucide-react